*.log
node_modules/
**/node_modules/
/backend/vendor/
.env
/backend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
.idea/
.vscode/
.DS_Store
Thumbs.db

/frontend/dist/
/frontend/dist-ssr/

.phpunit.result.cache
/.phpunit.cache/
