# Logs
*.log

# Dependencies
node_modules/
**/node_modules/
/backend/vendor/

# Environment files
.env
/backend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# IDE and OS files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Build outputs
/frontend/dist/
/frontend/dist-ssr/

# PHP and Test caches
.phpunit.result.cache
/.phpunit.cache/
